h2 {
	font-weight: normal;
	text-transform: uppercase;
}
.programs a {
	color: #fff;
}
.gutter .column.program-list {
	padding: 0 1rem 2rem 0;
}
.program-list .cahnrs-accordion {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}
.program-list .cahnrs-accordion:nth-of-type(odd) {
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(70,78,84,0) 0%, rgba(70,78,84,1) 100%);
}
.program-list .cahnrs-accordion:nth-of-type(even) {
	background-color: transparent;
}
.program-list .cahnrs-accordion dt {
	background: rgb(42,48,51);
	padding: 0;
}
.program-list .cahnrs-accordion.disclosed dt,
.program-list dl dd {
	background: rgba(42,48,51,0.6);
}
.program-list dl:nth-of-type(odd) dt {
	background: linear-gradient(to right, rgba(42,48,51,1) 0%, rgba(70,78,84,1) 100%);
}
.program-list dl:nth-of-type(odd).disclosed dt,
.program-list dl:nth-of-type(odd) dd {
	background: rgba(70,78,84,0.6);
}
.program-list .cahnrs-accordion dt h2 {
	background: url(http://m1.wpdev.cahnrs.wsu.edu/global/images/plus-white.svg) right 1rem center no-repeat;
	color: #fff;
	font-size: 0.9rem;
	font-weight: normal;
	padding: 0.7rem 1rem 0.7rem 2rem;
}
.program-list .cahnrs-accordion.disclosed dt h2 {
	background-image: url(http://m1.wpdev.cahnrs.wsu.edu/global/images/x-white.svg);
	font-weight: bold;
}
.program-list .cahnrs-accordion dd {
	display: block;
	padding: 1rem 2rem;
	width: auto;
}
.program-list.filtered .cahnrs-accordion dd {
	display: none;
}
.program-list .more-button a {
	padding-right: 2rem;
}
.program-list .more-button a:after {
	content: "↪";
	font-family: Spine-Icons;
	font-weight: normal;
	margin-left: 3px;
	position: absolute;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
.topic-4-h > a:hover,
.topic-4-h .active {
	background-color: #009849;
}
.topic-agricultural-production > a:hover,
.topic-agricultural-production .active {
	background: #826229;
}
.topic-communities-and-economic-development > a:hover,
.topic-communities-and-economic-development .active {
	background: #b67233;
}
.topic-family-and-home > a:hover,
.topic-family-and-home .active {
	background: #4f868e;
}
.topic-food-and-nutrition > a:hover,
.topic-food-and-nutrition .active {
	background: #c69214;
}
.topic-gardening > a:hover,
.topic-gardening .active {
	background: #7b451d;
}
.topic-natural-resources > a:hover,
.topic-natural-resources .active {
	background: #8f7e35;
}
.browse-terms {
	padding: 0;
	list-style: none;
}
.browse-terms.topics li {
	border-style: solid;
	border-width: 1px;
	margin-bottom: 7px;
	padding: 0;
}
.browse-terms.topics li a {
	display: block;
	padding: 0.3rem 0.5rem;
	text-align: center;
	-webkit-transition: background-color .2s linear;
	-moz-transition:    background-color .2s linear;
	-o-transition:      background-color .2s linear;
	transition:         background-color .2s linear;
}
.topic-4-h {
	border-color: #009e60;
	border-color: #009849;
}
.topic-agricultural-production {
	border-color: #826229;
}
.topic-communities-and-economic-development {
	border-color: #b67233;
}
.topic-family-and-home {
	border-color: #4f868e;
}
.topic-food-and-nutrition {
	border-color: #c69214;
}
.topic-gardening {
	border-color: #7b451d;
}
.topic-natural-resources {
	border-color: #8f7e35;
}

@media only screen and (max-width:693px) {
	.side-right.gutter .column.one.program-list {
		padding: 0 0 2rem 0;
	}
}